CocktailMaster/DataAnalysis/DataAnalysis/Backup/CampariBitters_bite.txt
CocktailMaster/DataAnalysis/DataAnalysis/Backup/BolsGenever_sweet.txt
CocktailMaster/DataAnalysis/DataAnalysis/Backup/MilagroSilverTequila_bite.txt
CocktailMaster/DataAnalysis/DataAnalysis/Backup/MilagroSilverTequila_sweet.txt
CocktailMaster/DataAnalysis/DataAnalysis/Backup/LuxardoMaraschino_bite.txt